.app {
  padding: 15px;
}

.link_login {
  margin: 10px;
  padding: 10px;
  border: 2px solid teal;
  border-radius: 15px;
  text-decoration: none;
  color: #000;
  &:hover {
    color: #fff;
    background-color: #1c5e5e;
  }
}
