.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;

  & div:nth-child(2n){
    margin: 10px;
  }
  .pages {
    margin: 0 10px;
    & a {
      margin: 0 5px;
      padding: 5px 10px;
      border: 2px solid teal;
      border-radius: 15px;
      box-sizing: content-box;
      cursor: pointer;
    }

    & a:hover {
      color: #fff;
      background-color: #1c5e5e;
    }
  }
}

.arrow {
  padding: 5px;
  border: 2px solid teal;
  border-radius: 40%;
  cursor: pointer;
}

.activePage {
  background-color: #2fc8c8;
  color: white;
}
