.pokemon {
  text-align: center;
}

.pokemon_list {
  margin: 0 auto;
  max-width: 600px;
  list-style-type: none;

  & li a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
    border: 2px solid teal;
    margin: 15px 0;
    font-size: 24px;

    &:hover {
      color: #fff;
      background-color: #1c5e5e;
    }
  }
}
