@import "app";
@import "auth";
@import "notFoundPage";
@import "pokemon";
@import "pokemonByName";
@import "pagination";
@import "pSelect";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}